<mat-card class="center" > Login
  <form [formGroup]="formGroup" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input formControlName="name" matInput placeholder="Username" value="">
    </mat-form-field>

    <mat-form-field class="example-form">
      <mat-label>Password</mat-label>
      <input formControlName="pass" type="password" matInput>
    </mat-form-field>
    <button routerLink="/menu" mat-raised-button color="accent">Accent</button>
  </form>
</mat-card>
