<div class="menu">
  <form [formGroup]="formGroup" class="my-form" (ngSubmit)="submit()">
    <mat-form-field color="accent" style="width: 100%" appearance="fill">
      <mat-label>Model</mat-label>
      <mat-select formControlName="model" [(value)]="selected" (selectionChange)="changeModel($event.value)">
        <mat-option *ngFor="let model of models" [value]="model.path">
          {{model.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field color="accent" fxFlex="30" appearance="fill">
        <mat-label>R</mat-label>
        <input formControlName="red" type="number" matInput>
        <mat-hint>0-255</mat-hint>
        <div *ngIf="submitted && getFormGroupControls.red.errors">
          <mat-error *ngIf="getFormGroupControls.red.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.red.errors.max">Max value 255</mat-error>
        </div>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>G</mat-label>
        <input formControlName="green" type="number" matInput>
        <mat-hint>0-255</mat-hint>
        <div *ngIf="submitted && getFormGroupControls.green.errors">
          <mat-error *ngIf="getFormGroupControls.green.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.green.errors.max">Max value 255</mat-error>
        </div>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5"  fxFlex="30" appearance="fill">
        <mat-label>B</mat-label>
        <input formControlName="blue" type="number" matInput>
        <mat-hint>0-255</mat-hint>
        <div *ngIf="submitted && getFormGroupControls.blue.errors">
          <mat-error *ngIf="getFormGroupControls.blue.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.blue.errors.max">Max value 255</mat-error>
        </div>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field color="accent" fxFlex="30" appearance="fill">
        <mat-label>Scale X</mat-label>
        <input type="number" step="0.1" formControlName="scaleX" matInput>
        <div *ngIf="submitted && getFormGroupControls.scaleX.errors">
          <mat-error *ngIf="getFormGroupControls.scaleX.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.scaleX.errors.max">Max value 4</mat-error>
        </div>
        <mat-hint>0-4</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Scale Y</mat-label>
        <input type="number" step="0.1" formControlName="scaleY" matInput>
        <div *ngIf="submitted && getFormGroupControls.scaleY.errors">
          <mat-error *ngIf="getFormGroupControls.scaleY.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.scaleY.errors.max">Max value 4</mat-error>
        </div>
        <mat-hint>0-4</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Scale Z</mat-label>
        <input type="number" step="0.1" formControlName="scaleZ" matInput>
        <div *ngIf="submitted && getFormGroupControls.scaleZ.errors">
          <mat-error *ngIf="getFormGroupControls.scaleZ.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.scaleZ.errors.max">Max value 4</mat-error>
        </div>
        <mat-hint>0-4</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field color="accent" fxFlex="30" appearance="fill">
        <mat-label>Rotate X</mat-label>
        <input type="number" step="0.1" formControlName="rotateX" matInput>
        <div *ngIf="submitted && getFormGroupControls.rotateX.errors">
          <mat-error *ngIf="getFormGroupControls.rotateX.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.rotateX.errors.max">Max value 360</mat-error>
        </div>
        <mat-hint>0-360</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Rotate Y</mat-label>
        <input type="number" step="0.1" formControlName="rotateY" matInput>
        <div *ngIf="submitted && getFormGroupControls.rotateY.errors">
          <mat-error *ngIf="getFormGroupControls.rotateY.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.rotateY.errors.max">Max value 360</mat-error>
        </div>
        <mat-hint>0-360</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Rotate Z</mat-label>
        <input type="number" step="0.1" formControlName="rotateZ" matInput>
        <div *ngIf="submitted && getFormGroupControls.rotateZ.errors">
          <mat-error *ngIf="getFormGroupControls.rotateZ.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.rotateZ.errors.max">Max value 360</mat-error>
        </div>
        <mat-hint>0-360</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field color="accent" fxFlex="30" appearance="fill">
        <mat-label>Position X</mat-label>
        <input type="number" step="0.1" formControlName="translateX" matInput>
        <div *ngIf="submitted && getFormGroupControls.translateX.errors">
          <mat-error *ngIf="getFormGroupControls.translateX.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.translateX.errors.max">Max value 10</mat-error>
        </div>
        <mat-hint>0-10</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Position Y</mat-label>
        <input type="number" step="0.1" formControlName="translateY" matInput>
        <div *ngIf="submitted && getFormGroupControls.translateY.errors">
          <mat-error *ngIf="getFormGroupControls.translateY.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.translateY.errors.max">Max value 10</mat-error>
        </div>
        <mat-hint>0-10</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" fxFlexOffset="5" fxFlex="30" appearance="fill">
        <mat-label>Position Z</mat-label>
        <input type="number" step="0.1" formControlName="translateZ" matInput>
        <div *ngIf="submitted && getFormGroupControls.translateZ.errors">
          <mat-error *ngIf="getFormGroupControls.translateZ.errors.min">Min value 0</mat-error>
          <mat-error *ngIf="getFormGroupControls.translateZ.errors.max">Max value 10</mat-error>
        </div>
        <mat-hint>0-10</mat-hint>
      </mat-form-field>
    </div>
    <button type="submit" class="center" mat-raised-button color="accent">Apply</button>
  </form>
</div>
